<html>

	<head>
		<title> Email Classifier App  </title>
		<style>
			* {font-size:40px;font-family:Cambria;}
			body{background-color:lightblue;}
			h1{background-color:red;color:white;width:70%;border-radius:40px;}
		</style>

	</head>
	
	<body>
	<center>
		<h1>Email Classifier</h1>
		<form method="POST">

<input type="text"  name ="txt" placeholder="enter email text" />
				<br/><br/>
			<input type="Submit" style="background-color:aqua;" value='Check if spam or ham'/>
		</form>
			<h2> {{msg}}</h2>
	</center>
	</body>

</html>